services:
  spring-service:
    image: spring-service:${VERSION}
    container_name: spring-service
    restart: unless-stopped
    ports:
      - "8090:8080"
    volumes:
      - /opt/nuc-apps/spring-service/resources/:/opt/nuc-apps/spring-service/resrouces:ro
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      COMMIT: ${COMMIT}
      VERSION: ${VERSION}
      ENVIRONMENT: ${ENVIRONMENT}
      SPRING_PROFILES_ACTIVE: ${ENVIRONMENT}
      SPRING_CONFIG_LOCATION: "classpath:/application.properties,/opt/nuc-apps/spring-service/resrouces/application-${ENVIRONMENT}.properties"
